root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true

[*.yml]
indent_size = 2

[*.h, *.hxx, *.cxx]
# lh-style Vim options
indent_brace_style: Allman
cpp_begin_end_style: 'c++98'

[*.md]
max_line_length = 100

[M̀akefile]
indent_style = tab
indent_size = 8
